html, body, .chat-container, #root {
    height: 100%;
  }

  .chat-container {
    margin: 20px;
  }

  .chatList{
    height: 90%;
    border: 3px #ccc solid;
  }

  .chatcard {
    margin-top: 20px;
  }

  .card {
    margin-top: 20px;
  }
  